services:
  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_DB: hostelrec
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./sql:/docker-entrypoint-initdb.d

  backend:
    build:
      context: ./backend
    environment:
      DATABASE_URL: postgresql+asyncpg://postgres:postgres@db:5432/hostelrec
      AUTH_SECRET_KEY: super-secret-key-change
      AUTH_TOKEN_EXPIRE_MINUTES: 60
      SUPER_SECRET_PHRASE: lab3-secret
    depends_on:
      - db
    ports:
      - "8000:8000"

  frontend:
    build:
      context: ./frontend
    environment:
      VITE_API_URL: http://localhost:8000
    depends_on:
      - backend
    ports:
      - "5173:4173"

volumes:
  pgdata:

